<?xml version="1.0" encoding="utf-8"?>

<configuration>
    <system.web>
        <compilation debug="true" />
        <httpRuntime />
    </system.web>
    <appSettings>

    </appSettings>
    <connectionStrings>
        <data-source source="LOCAL" name="identifier.sqlite" uuid="b690aec4-92f4-4d89-a8bd-e652ddaf28de">
            <database-info product="SQLite" version="3.34.0" jdbc-version="2.1" driver-name="SQLite JDBC"
                           driver-version="3.34.0" dbms="SQLITE" exact-version="3.34.0" exact-driver-version="3.34">
                <identifier-quote-string>&quot;</identifier-quote-string>
            </database-info>
            <case-sensitivity plain-identifiers="mixed" quoted-identifiers="mixed" />
            <driver-ref>sqlite.xerial</driver-ref><synchronize>true</synchronize>
            <jdbc-driver>org.sqlite.JDBC</jdbc-driver><jdbc-url>jdbc:sqlite:identifier.sqlite</jdbc-url>
            <secret-storage>master_key</secret-storage><auth-provider>no-auth</auth-provider>
            <schema-mapping>
                <introspection-scope>
                    <node kind="schema" qname="@" />
                </introspection-scope>
            </schema-mapping>
            <working-dir>$ProjectFileDir$</working-dir>
        </data-source>
        
        <!-- <add name= "sqlconnectionString"  connectionString= "server=127.0.0.1;database=MyDataBase;User=sa;password=123456;Connect Timeout=1000000" /> -->
        <add name="mysql"
             connectionString="server=118.25.154.83;port=3306;database=ZKY_coffee;user=root;password=123456" />
    </connectionStrings>
</configuration>